<footer id="footer" class="sm:flex sm:flex-row-reverse bg-slate-900 text-slate-200">
  <div class="relative w-full sm:max-w-[50%] bg-slate-700">
    <iframe class="w-full h-full" src="https://maps.google.com/maps?q=notre%20dame%20Salem&t=k&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" marginheight="0" marginwidth="0"></iframe>
  </div>
  
  <div class="p-8 mx-auto w-fit flex flex-col gap-3 text-sm">
    <div>
      <i class="mr-2 text-sky-300 fa-solid fa-earth-asia"></i>
      <span>Notre Dame of HolyCross School [CBSE], <br>Gundukalloore, Salem - 636 140, Tamil Nadu.</span>
    </div>

    <div>
      <i class="mr-2 text-sky-300 fa-solid fa-phone"></i>
      <span class="text-slate-300">+91 427-2241800</span> <span class="text-slate-400 font-thin text-xs">Primary School</span>
      <a class="text-slate-400 ml-2" href="tel:+914272241800"><i class="fa-solid fa-up-right-from-square"></i></a>
    </div>

    <div>
      <i class="mr-2 text-sky-300 fa-solid fa-phone"></i>
      <span class="text-slate-300">+91 427-2241803</span>
      <a class="text-slate-400 ml-2" href="tel:+914272241803"><i class="fa-solid fa-up-right-from-square"></i></a>
    </div>

    <div>
      <i class="mr-2 text-sky-300 fa-regular fa-envelope"></i>
      <span>notredamehcs@gmail.com</span>
      <a class="text-slate-400 ml-2" href="mailto:notredamehcs@gmail.com"><i class="fa-solid fa-up-right-from-square"></i></a>
    </div>

    <div class="mt-4">
      <i class="text-rose-600 mr-2 text-xl fa-brands fa-youtube"></i>
      <span class="text-rose-300">Check out latest events on YouTube!</span>
    </div>

    <p class="mt-4 text-center text-xs">
      Copyright © 2022 <br> Design & Development by 
      <a>Dash Skndash.</a>
    </p>
  </div>
</footer>
