<header id="header" class="sticky top-0 z-20 flex justify-between shadow-xl bg-gradient-to-r from-sky-800 via-sky-900 to-blue-900 text-gray-50">
  <a href="/" class="ml-2 my-1 block flex gap-2">
    <img src="images/logo.png" class="w-6 h-6">
    <h4 class="font-black font-['Canela']">
      Notre Dame
    </h4>
  </a>
  
  <nav id="nav" class="max-md:absolute max-md:backdrop-blur-sm max-md:transition-all max-md:max-h-0 md:open max-md:overflow-hidden max-md:left-0 max-md:right-0 max-md:bottom-0 max-md:translate-y-full max-md:bg-sky-500/75 shadow-lg text-gray-50">
    <ul class="ml-auto max-md:mt-4 max-md:px-4 w-fit flex flex-col gap-y-2 md:flex-row items-end font-['Canela'] max-md:text-lg">
      <li class="px-2 py-1 max-md:font-bold hover:border-b-2 border-rose-600 transition-all md:hover:bg-sky-300 md:hover:text-blue-900">
        <a href="/"> Home </a>
      </li>
      <li class="px-2 py-1 max-md:font-bold hover:border-b-2 border-rose-600 transition-all md:hover:bg-sky-300 md:hover:text-blue-900">
        <a href="/about"> About </a>
      </li>
      <li class="px-2 py-1 max-md:font-bold hover:border-b-2 border-rose-600 transition-all md:hover:bg-sky-300 md:hover:text-blue-900">
        <a href="/events"> Events </a>
      </li>
      <li class="px-2 py-1 max-md:font-bold hover:border-b-2 border-rose-600 transition-all md:hover:bg-sky-300 md:hover:text-blue-900">
        <a href="/facility"> Student Life </a>
      </li>
      <li class="px-2 py-1 max-md:font-bold hover:border-b-2 border-rose-600 transition-all md:hover:bg-sky-300 md:hover:text-blue-900">
        <a href="/conduct"> Conduct </a>
      </li>
      <li class="px-2 py-1 max-md:font-bold hover:border-b-2 border-rose-600 transition-all md:hover:bg-sky-300 md:hover:text-blue-900">
        <a href="/details"> Details </a>
      </li>
      <li class="px-2 py-1 max-md:font-bold hover:border-b-2 border-rose-600 transition-all md:hover:bg-sky-300 md:hover:text-blue-900">
        <a onclick="toggleNav(true)" href="#footer"> Contact </a>
      </li>
    </ul>
    <h6 class="md:hidden my-4 px-2 text-right">
      Notre Dame Of Holy Cross School, <br>
      Udayapatti, Salem - 140.
    </h6>
  </nav>
  
  <button id="navToggle" class="md:hidden p-1">
    MENU
  </button>
</header>  
