@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *, ::before, ::after {
    @apply m-0 p-0;
  }
  html {
    @apply scroll-smooth;
    font-size: calc(0.7rem + 0.7vw);
  }
  body {
    @apply min-h-screen overflow-x-hidden flex flex-col justify-between font-['Cabin'];
    background-color: white;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-['Canela']
  }
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
  h4 {
    @apply text-lg;
  }
  h5, p {
    @apply text-base;
  }
  h6 {
    @apply text-sm;
  }
  span {
    font-size: inherit;
  }
}

@layer components {
  #loader.close {
    @apply -translate-x-full;
  }
  #loader.hide {
    @apply hidden;
  }
  #nav.open {
    max-height: 90vh !important;
  }
  .testimonials {
    @apply relative pl-28 pr-40 sm:pr-52 md:pr-64 lg:pr-80 flex gap-4 overflow-x-scroll snap-mandatory snap-x scroll-px-16;
  }
  .testimonials * {
    @apply snap-always snap-start;
  }
  .testimonials::-webkit-scrollbar {
    @apply hidden;
  }
  .cardBox {
    @apply w-fit mx-auto;
  }
  .card {
    @apply mt-4 mx-auto grid grid-cols-1 md:grid-cols-[1fr_2fr] justify-center items-center gap-4;
  }
  .card .imgBox {
    @apply relative mx-auto;
  }
  .card .imgBox img {
    @apply w-32 h-32 mx-auto;
  }
  button.classic, a.classic {
    @apply inline-block bg-sky-600 text-gray-50 px-2 py-1 font-semibold shadow-md hover:shadow-lg hover:scale-95;
  }
  i {
    display: inline-block;
  }
  i svg, .icon svg {
    width: 1em;
    display: inline-block;
    fill: currentColor;
  }
}

@layer utilities {
  
}

@font-face {
  font-family: "Canela";
  src: url("fonts/Canela.otf");
  font-display: swap;
}

@font-face {
  font-family: "Courier";
  src: url("fonts/CourierPrime.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Cabin";
  src: url("fonts/CabinRegular.ttf");
  size-adjust: 110%;
  font-display: swap;
}
