<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="favicon.ico">
  <link rel="stylesheet" href="out.css">
  <title>Notre Dame Salem</title>

  <script src="https://kit.fontawesome.com/f3339b4404.js" crossorigin="anonymous"></script>
  <script src="scripts/nav.js"></script>
</head>
<body>
  <%- include("partials/header"); %>
  
  <main class="px-4 py-8 mx-auto w-fit max-w-2xl">
    <div class="relative w-56 h-56 overflow-clip mx-auto">
      <img src="404.svg" class="w-full h-full scale-[7]">
    </div>
    
    <h2 class="font-bold text-center">
      404 - Page Not Found
    </h2><br>
    
    <p class="mt-4">Uh! The page does not seem to exist. You've been mislead. </p>
    <p class="mt-4">Why don't you go to the homepage and look what you are looking for or grab something better? Seems like a good idea</p>
    
    <a href="/home" class="mt-4 p-1 inline-block shadow-md bg-sky-600 text-gray-50">
      <i class="mr-2 fa-solid fa-angle-right"></i> Home Page
    </a>
  </main>

  <%- include("partials/footer"); %>
</body>
</html>