<!DOCTYPE html>
<html lang="en">
<head>
  <title>About - Notre Dame Salem</title>

  <%- include("partials/head"); %>
  
  <link rel="stylesheet" href="out.css">
  <script src="https://kit.fontawesome.com/f3339b4404.js" crossorigin="anonymous"></script>
</head>
<body>
  <%- include("partials/loader"); %>
  <%- include("partials/header"); %>
  
  <main class="px-4 mx-auto py-8 max-w-4xl">
    <h2 class="font-bold">
      Simple History yet <span class="path-arrow-down p-1 pb-4 bg-sky-600 text-gray-50">Dynamic.</span>
    </h2>
    
    <div class="px-4 grid grid-cols-[1rem_1fr]">
      <hr class="h-full w-1 bg-gradient-to-b from-sky-200 via-violet-400 to-blue-700">
      <div class="py-4">
        <div class="mt-8 -ml-[1.24rem] w-4 h-4 rounded-full border-2 border-neutral-900 shadow-[5px_5px_rgba(0,0,0,.2)]"></div>
        <p class="-mt-4 ml-4">
          <span class="font-bold">1820</span>
          Ruillie sur - Loire, Le Mans diocese, France, Fr. Jacques Dujarie founded the Brothers of St.Joseph
        </p>
        <div class="mt-8 -ml-[1.24rem] w-4 h-4 rounded-full border-2 border-neutral-900 shadow-[5px_5px_rgba(0,0,0,.2)]"></div>
        <p class="-mt-4 ml-4">
          <span class="font-bold">1835</span>
          Upon the death of Fr. Dujarie, Fr. Basil Moreau succeeded him as the Superior of the Brothers of St. Joseph. He transferred them to a place called Holy Cross (Sainte Croix) in LeMans
        </p>
        <div class="mt-8 -ml-[1.24rem] w-4 h-4 rounded-full border-2 border-neutral-900 shadow-[5px_5px_rgba(0,0,0,.2)]"></div>
        <p class="-mt-4 ml-4">
          <span class="font-bold">1837</span>
          Fr.Moreau united the priests, whom he has gathered under him, and the Brothers of St. Joseph, by the fundamental act which marks the foundation of Congregation of Holy Cross.
        </p>
        <div class="mt-8 -ml-[1.24rem] w-4 h-4 rounded-full border-2 border-neutral-900 shadow-[5px_5px_rgba(0,0,0,.2)]"></div>
        <p class="-mt-4 ml-4">
          <span class="font-bold">1852</span>
          Holy Cross Brothers, Sisters and Priests reached Dhaka in Bangladesh.
        </p>
        <div class="mt-8 -ml-[1.24rem] w-4 h-4 rounded-full border-2 border-neutral-900 shadow-[5px_5px_rgba(0,0,0,.2)]"></div>
        <p class="-mt-4 ml-4">
          <span class="font-bold">1960</span>
          Three French Canadian Holy Cross Brothers: Godfrey Danis, Louis Leduc and Donald Nadeau took up their residence at St. Theresa's Industrial School, Maraveneri, Salem - 7, to establish the Holy Cross Brothers in Tamil Nadu
        </p>
        <div class="mt-8 -ml-[1.24rem] w-4 h-4 rounded-full border-2 border-neutral-900 shadow-[5px_5px_rgba(0,0,0,.2)]"></div>
        <p class="-mt-4 ml-4">
          <span class="font-bold">1963</span>
          Holy Cross School was started with 5 boys as the first students and Bro. Donald Nadeau as the first principal. Bro. Louis Leduc was the builder of Holy Cross School.
        </p>
        <div class="mt-8 -ml-[1.24rem] w-4 h-4 rounded-full border-2 border-neutral-900 shadow-[5px_5px_rgba(0,0,0,.2)]"></div>
        <p class="-mt-4 ml-4">
          <span class="font-bold">2008</span>
          Notre Dame of Holy Cross School (CBSE) was started with 453 students from LKG to Std IV.
        </p>
        <div class="mt-8 -ml-[1.24rem] w-4 h-4 rounded-full border-2 border-neutral-900 shadow-[5px_5px_rgba(0,0,0,.2)]"></div>
        <p class="-mt-4 ml-4">
          <span class="font-bold">2011</span>
          In the month of December the School got affiliated to CBSE.
        </p>
        <div class="mt-8 -ml-[1.24rem] w-4 h-4 rounded-full border-2 border-neutral-900 shadow-[5px_5px_rgba(0,0,0,.2)]"></div>
        <p class="-mt-4 ml-4">
          <span class="font-bold">2012</span>
          The School had 1,700 students enrolled.
        </p>
        <div class="mt-8 -ml-[1.24rem] w-4 h-4 rounded-full border-2 border-neutral-900 shadow-[5px_5px_rgba(0,0,0,.2)]"></div>
        <p class="-mt-4 ml-4">
          <span class="font-bold">2022</span>
          The School has 2700 students enrolled thus far and We are letting you anticipate the forthcoming future which we bet would make a huge fam.
        </p>
      </div>
    </div>

    <div class="mt-8 cardBox">
      <div class="p-4 card bg-slate-100">
        <div class="imgBox bg-gray-50">
          <img class="w-full h-full" src="vision.svg">
        </div>
        <div class="px-4 content">
          <h3 class="font-bold">
            Philosophy
          </h3>
          <p class="max-w-md">Our vision is to educate the hearts and minds of our pupils. We seek to create successful learners who can <b>face the world</b> boldly, holding firmly to the principles of justice, equality, liberty and fraternity. While academic achievement should always have first place in a student’s life, young minds should also understand that God has a mission for everyone in this world.</p>
        </div>
      </div>
      <div class="p-4 card bg-slate-100">
        <div class="imgBox bg-gray-50">
          <img class="w-full h-full" src="mission.svg">
        </div>
        <div class="px-4 content">
          <h3 class="font-bold">
            Destiny
          </h3>
          <p class="max-w-md">Our mission is to have a prominent influence in educating the students during their formative years. This is achieved by continually improving the design, development, implementation, monitoring and evaluation of our curriculum, co-curriculum and extra curriculum, as well as through faculty development programmes. We have adopted <b>high-quality, practical teaching </b> and learning systems to enhance the achievement of the students.</p>
        </div>
      </div>

      <h2 class="mt-8">
        Let Our Experience be Your Guide.
      </h2>
    </div>
  </main>

  <%- include("partials/footer"); %>
  <script src="scripts/index.js"></script>
</body>
</html>