<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="favicon.ico">
  <link rel="stylesheet" href="out.css">
  <title>Student Conduct - Notre Dame Salem</title>

  <script src="https://kit.fontawesome.com/f3339b4404.js" crossorigin="anonymous"></script>
</head>
<body>
  <%- include("partials/loader"); %>
  <%- include("partials/header"); %>
  
  <main class="px-4 py-8 mx-auto max-w-2xl">
    <h2 class="font-bold text-blue-800">
      Student Conduct
    </h2>

    <h3 class="mt-4">
      Glitters don't turn <span class="relative before:absolute before:w-6 before:h-6 before:-bottom-2 before:-right-2 before:bg-amber-300/50 before:rounded-full">gold</span> on their own. That's what we are here for.
    </h3>
    
    <div class="p-4 mt-4 bg-slate-200">
      <h4 class="font-bold">
        Before anything, <span class="px-1 -skew-y-3 inline-block text-gray-50 bg-blue-800/50">Why Rules?</span>
      </h4>
      <p class="mt-4">
        Rules ensure <b>less conflict</b> and more cultivation of <b>obedience</b>. When we try to manipulate life to our own advantage, others are inconvenienced, unfairly burdened, and often angered. <span class="text-blue-900 font-bold">Who needs more conflict in their lives, yeah?</span>
      </p>
    </div>

    <div class="mt-4">
      <h3 class="">
        Behavioral Conduct
      </h3>
      <p class="p-2">Students must be on time to the school. They should reach the school by 8:30 AM for the very first morning session. Students should learn to behave in a courteous manner to other students and elders. Good moral behavior and gentle ways are prerequisites of every student. They should always remember that they are judged by their conduct. Neglecting the home work, irregular attendance, habitual idleness, objectionable moral behaviour, disobedience, disrespect towards the members of the staff and any unseemly conduct or breach of school discipline or bad moral influence are questionable.</p>
    </div>
    
    <div class="mt-4">
      <h3 class="">
        Prohibition
      </h3>
      <p class="p-2">Students must not be found in possession of any of these without prior permission or valid reason - Smart Watches, Electronic Devices/Gadgets, Crackers, Any Potential Explosive, Pagers or Walkies, Bulk Food, Comic books or Playing Cards. In case if an individual is caught, the item will be confiscated and shall not be returned until the end of the ongoing academic year.</p>
    </div>

    <div class="mt-4">
      <h3 class="">
        Malpractice
      </h3>
      <p class="p-2">Students should realise that the sole purpose of their presence is to seek knowledge. Students are not appreciated to have any distraction. Any action that does not correspond to this fact will be questioned. Any student found for Malpractice during examinations or in revision exams will not be allowed to write subsequent exams and scores will be marked zero. </p>
    </div>
  
    <div class="mt-4">
      <h3 class="">
        Properties
      </h3>
      <p class="p-2">Any thing that is brought by a pupil is of their responsiblity, and the school shall not be answerable if it's lost. Thus the school does not encourage students wearing expensive ornaments and watches. <br><br> Students should not damage school property such as desks or walls. Students would have to make up for the damage in case they did any. </p>
    </div>
  
    
    <div class="mt-4">
      <h3 class="">
        Food
      </h3>
      <p class="p-2">Brunch and Afternoon lunch will be provided by the school. Students are asked not to waste or spill the food provided. Also, students are not expected to bring snacks or food to the school except for water bottle. </p>
    </div>

    <div class="mt-4">
      <h3 class="">
        Campus Language
      </h3>
      <p class="p-2">To acquire fluency in English, only English should be spoken in the school premises and in the buses. Any violation of this may rule may result in the suspension of the student. Parents are requested to converse with their children in English.</p>
    </div>
   
    <div class="mt-4">
      <h3 class="">
        Dress Code
      </h3>
      <p class="p-2">
        Shirt (under <i class="fa-solid fa-mars"></i> Jacket), Pant (under <i class="fa-solid fa-venus"></i> Skirt), belt, tie (for boys) and pairs of socks and shoes (black/white) make up the dress code. Uniform material will be provided by the school upon admission.
        <br><br>Through the week, students should wear regular school uniform with blue socks and black shoes.
        <br>On Tuesdays and Thursdays, students should be dressed in Sports and House Dresses respectively with white socks and shoes.
      </p>
      
      <div class="mt-2 ml-4">
        <h4 class="">House Systems</h4>
        <ul class="mt-2 ml-4 text-lg font-semibold">
          <li class="text-blue-700">André House</li>
          <li class="text-amber-700">Dujarie House</li>
          <li class="text-rose-800">Moreau House</li>
          <li class="text-green-700">Notre Dame House</li>
        </ul>
      </div>
    </div>

    <div class="mt-4">
      <h3 class="">For Parents</h3>
      <p class="p-2">
        The entrusting of a pupil to the school implies that the parents agree to abide by the rules and regulations and decisions of the school. They are also requested to read the rules carefully and see that they are followed.
        <br><br>Parents are expected to co-operate in the work of the school by enforcing regularity, punctuality and discipline and by taking a daily interest in their children’s progress. They should check the diary or parent app daily for any remarks and note the homework given.
        <br><br>The parents should also check the diaries regularly for the teacher’s remarks or any homeworks and acknowledge promptly by placing their signature against the remark.
        <br><br>Parents should see that their children study and do their homework regularly.
        <br><br>If you observe that your ward is not assigned homework for sometime, or that he is unable to follow the lessons, the Principal shall be contacted.
        <br><br>Parents are expected to make their own arrangements when students are asked to come before or remain after school hours for various activites. Whenever the parents are asked to meet the Principal to discuss their children's academic condition or any misbehavior, they should meet the Principal without fail on the stipulated date.
        <br><br>The School does not claim responsiblity for minor accidents or injuries that could possibly happen.
        <br><br>Parents who wish to take their children out during the school hours should get the necessary written permission from the Principal by submitting a letter and stating the reason. Parents should come in person to take their children from the school.
      </p>
    </div>
    
    <h3 class="mt-4">
        We shape tomorrow's adults, not just today's kids.
    </h3>
  </main>

  <%- include("partials/footer"); %>
  <script src="scripts/index.js"></script>
</body>
</html>