<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="favicon.ico">
  <link rel="stylesheet" href="out.css">
  <title>Notre Dame Salem</title>

  <script src="https://kit.fontawesome.com/f3339b4404.js" crossorigin="anonymous"></script>
  <script src="scripts/nav.js"></script>
</head>
<body>
  <%- include("partials/loader"); %>
  <%- include("partials/header"); %>
  
  <main class="px-4 py-8 mx-auto w-fit max-w-2xl">
    <h2 class="font-semibold">
      Latest Circulars
    </h2>
  </main>

  <%- include("partials/footer"); %>
</body>
</html>