<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="favicon.ico">
  <link rel="stylesheet" href="out.css">
  <title>Facility - Notre Dame Salem</title>

  <script src="https://kit.fontawesome.com/f3339b4404.js" crossorigin="anonymous"></script>
  <script src="scripts/nav.js"></script>
</head>
<body>
  <%- include("partials/header"); %>
  
  <main class="px-4 py-8 mx-auto max-w-2xl">
    <h2 class="font-semibold">
      Facility
    </h2>
    
    <h3 class="my-6">
      Life is for <span class="relative inline-block before:absolute before:-bottom-[3.24rem] before:w-16 before:h-14 before:border-2 before:border-x-transparent before:border-b-transparent before:border-t-sky-600 before:rounded-full">Service</span>. Our Reputation goes by It.
    </h3>
    
    <div class="mt-4">
      <h3 class="">
        Transportation
      </h3>
      <p>Transport system by bus is provided to the students. They support upto 60 students per bus. Buses have GPS and Bus Governer Installed for better and safer transport experience. </p>
    </div>

    <div class="mt-4">
      <h3 class="">
        Library
      </h3>
      <p>Library is provisioned to serve simply more knowledge to students. Students can access the library and undertake a certain number of books at a time. Curricular Guides, Facts, Dictionaries, Novels, Comics, Biographies etc. would be available at pupil's fingertips. </p>
    </div>
    
    <div class="mt-4">
      <h3 class="">
        SmartBoards
      </h3>
      <p>Smart boards or smart classrooms are installed so that students get a visual idea of what's being taught. Selective videos and demonstrations are played to the students in Smartboards. </p>
    </div>
    
    <div class="mt-4">
      <h3 class="">
        Playground
      </h3>
      <p>Considering and caring for the students physical health, they have Physical Exercise periods during which they are allowed to play in a very spacious ground. Students can also join any of the teams if they excel at - Basketball, Volleyball, Football, Cricket and Kho-Kho. On their own interest, they can sign up for evening coaching classes. Know that students appearing for board exams are not allowed to join clubs.</p>
    </div>
    
    <div class="mt-4">
      <h3 class="">
        Auditorium
      </h3>
      <p>We have a spacious aditorium that could hold more than two thousand people. Weekly gatherings and festive celeberations are held in the auditorium.</p>
    </div>
    
    <div class="mt-4">
      <h3 class="">
        Laboratories
      </h3>
      <p>Students are taken to Science(Phy, Chem, Bio) Laboratories to do or witness experiments. Students can also undertake things that are available in the laboratory and return it after use. </p>
    </div>
    
    <div class="mt-4">
      <h3 class="">
        Pinaacle Classes
      </h3>
      <p>The School has tied up with a recongnised institute - Pinaacle Coaching Institute in order to train pupils for IIT/JEE or NEET entrance exams. A section of class is segregated for the pinaacle students wherein expertised teachers teach beyond NCERT syllabus. </p>
    </div>

    <div class="mt-4">
      <p>These are some major facilities available in the campus. A lot of minor features and goodnesses are at the doorstep. All you have to do is grab them.</p>
      <h3 class="mt-8">We always try to give people more than what they expect us to give.</h3>
    </div>
  </main>

  <%- include("partials/footer"); %>
</body>
</html>