<!DOCTYPE html>
<html lang="en">
<head>
  <title>Notre Dame Salem</title>

  <%- include("partials/head"); %>
  
  <meta name="google-site-verification" content="C15tfys7ICmJ2xFmacQmzNZ8UiwjCOa8UZU0e9GpgWQ" />
  
  <link rel="stylesheet" href="out.css">
  <script src="https://kit.fontawesome.com/f3339b4404.js" crossorigin="anonymous"></script>
</head>
<body>
  <%- include("partials/loader"); %>
  <%- include("partials/header"); %>

  <section class="px-4 py-12 flex flex-col justify-center items-center bg-slate-400 bg-[url('images/view.webp')] bg-cover bg-center min-h-screen">
    <div class="">
      <h1 class="text-gray-50 drop-shadow-xl text-5xl text-center">
        Educating Heart And Mind.
      </h1>
      <h2 class="mr-12 text-sky-100 text-right">Since 2008</h2>
    </div>
   
    <div class="mt-4 w-fit mx-auto sm:flex sm:justify-center sm:items-center">
      <div class="shrink-0 text-center">
        <span class="inline-block text-amber-600 text-[10rem] translate-x-8 -translate-y-5 font-['Canela']">N</span>
        <span class="inline-block text-amber-300 text-[10rem] -translate-x-8 translate-y-5 font-['Canela']">D</span>
      </div>
      
      <div class="max-w-md">
        <div class="p-4 hidden sm:block bg-neutral-800/25 text-gray-50">
          <h1 class="">
            We are not just any School, We are one of the <span class="inline-block border-b-2 border-yellow-400 border-offset-3">Best</span>.
          </h1>
          <p class=""> We provide our students our utmost persistent care for the betterment of their future. </p>
          <div class="mt-4 font-semibold">
            <span class=""> Know more about our process. </span><br>
            <a href="/details" class="py-1 px-2 bg-gray-50 text-sky-700"> Quick Facts </a>
            <a href="/facility" class="ml-2 py-1 px-2 bg-sky-700"> Student Life </a>
          </div>
        </div>

        <div id="admission" class="mt-2 px-2 pt-1 pb-4 bg-blue-400 font-bold text-neutral-900">
          <span class="pb-2 text-2xl text-neutral-900 bg-[url('images/star.svg')] bg-repeat-x bg-left-bottom bg-[length:10px_10px]">Admissions Open</span>
        </div>
        <div class="flex bg-blue-500/75 text-lg">
          <div class="w-2 h-16 bg-blue-400 shadow-lg"></div>
          <div class="px-4 py-1 text-blue-100">
            <i class="mr-2 text-gray-50 fa-solid fa-phone"></i>
            <span>+91 427-2241803</span>
            <a class="text-slate-400 ml-2" href="tel:+914272241803"><i class="fa-solid fa-up-right-from-square"></i></a>
            <br>
            <i class="mr-2 text-gray-50 fa-regular fa-envelope"></i>
            <span>notredamehcs@gmail.com</span>
            <a class="text-slate-400 ml-2" href="mailto:notredamehcs@gmail.com"><i class="fa-solid fa-up-right-from-square"></i></a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="px-4 py-8 bg-amber-100">
    <h2 class="text-center font-extrabold">
      News & Events <button id="reloadNews" class="ml-2 text-lg text-slate-500 hover:bg-sky-300/50"><i class="fa-solid fa-arrows-rotate"></i></button>
    </h2>
    
    <div class="mt-4 w-fit mx-auto">
      <div id="news" class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div id="newsSpinner" class="">
          <i class="mr-2 fa-solid fa-spinner animate-spin"></i> Loading...
        </div>
      </div>
      <a href="https://m.youtube.com/@ndhcsmedia5640" class="mt-8 inline-block underline text-amber-900 text-lg">
        <i class="mr-2 fa-brands fa-youtube"></i>Checkout Youtube
      </a> <br>

      <a href="/events" class="mt-2 classic">
        <i class="fa-solid fa-angle-right mr-2"></i> More
      </a>
    </div>
  </section>

  <section class="px-4 pt-8 pb-16">
    <h1 class="text-blue-900 font-extrabold text-center"> Who We Are </h1>
    
    <div class="relative p-2 w-fit mx-auto max-w-xl">
      <div class="relative overflow-hidden w-full h-32">
        <!--<a href="https://www.freepik.com/free-vector/illustration-business-people-meeting_3236148.htm#query=team&position=8&from_view=search&track=sph">Image by rawpixel.com</a> on Freepik-->
        <img class="w-full h-full" src="images/team.svg" alt="Team">
      </div>

      <p class="mt-4 max-w-xl text-left">
        A <span class="font-semibold">prestigous <span class="blue-800">co-ed</span> institution</span> honing the skills and ability of our future citizens by fulfilling needs with good deeds. We aim at serving the mind and the heart to their fullest and thus <span class="font-semibold">satisfy those who seek us</span>. We are an organization with our destiny dertermined that is to carve our name at places via our students.
      </p>

      <h3 class="mt-4 font-bold">
        We Contribute to the Greater Society.
      </h3>

      <a href="/about" class="mt-4 classic">
        <i class="fa-solid fa-angle-right mr-2"></i>Learn More
      </a>
    </div>
  </section>

  <section class="">
    <div class="bg-[url('images/tree.webp')] bg-cover bg-center py-12 text-center">
      <h1 class="text-gray-50 font-black font-extrabold">
        What it's like to be a Notre Damian.
      </h1>
    </div>
    
    <div class="px-16 py-8 cardBox bg-slate-100">
      <div class="card">
        <div class="imgBox">
          <img class="bg-gray-50" src="images/academics.svg">
        </div>
        <div class="content">
          <h4 class="font-bold">
            Emphasis on Academics
          </h4>
          <p class="max-w-xl"> We concentrate on Academics than any other extra-curricular activities. The teachers tend to make each child in the room understand, like really understand the content. </p>
        </div>
      </div>
      
      <div class="card">
        <div class="imgBox">
          <img class="bg-gray-50" src="images/security.svg">
        </div>
        <div class="content">
          <h4 class="font-bold">
            Secure Ambiance
          </h4>
          <p class="max-w-xl"> Classrooms and vicinity are well-sheltered and secured with CCTV-cameras. Surrounding the school are agricultural fields in north and east. Transport facilities by bus are provided. </p>
        </div>
      </div>
       
      <div class="card">
        <div class="imgBox">
          <img class="bg-gray-50" src="images/laboratory.svg">
        </div>
        <div class="content">
          <h4 class="font-bold">
            Labs | Smart Classrooms
          </h4>
          <p class="max-w-xl"> We are well-equipped for practical teaching with Laboratories for different subjects to let students know how things are done. Smartclassrooms provide visual knowledge to the students.</p>
        </div>
      </div>
      
      <div class="card">
        <div class="imgBox">
          <img class="bg-gray-50" src="images/socialize.svg">
        </div>
        <div class="content">
          <h4 class="font-bold">
            Sense of Integration
          </h4>
          <p class="max-w-xl"> We try to invoke a sense of integration among the teachers, students as well as the parents/guardians. This consequently enhances communication and social skills in children. </p>
        </div>
      </div>
    </div>
    
    <div class="mt-4 mb-8 w-fit mx-auto">
      <a href="/facility" class="classic">
        More
      </a>
    </div>
  </section>

  <section class="bg-amber-100/50">
    <div class="gap-4 px-4 py-8">
    <h2 class="font-extrabold text-center"> Testimonials </h2>
    
    <h6 class="block font-thin w-fit ml-auto">
      << swipe >>
    </h6>
    
    <div class="testimonials">
      <div class="min-w-[16rem] h-fit scroll-start scroll-always p-3 bg-amber-200">
        <p>Notre Dame is an excellent place for learning and development of students. They serve a creative, supportive and productive environment. Education is treated as worship here. All the faculties are extremely supportive and knowledgeable. All the subjects as well as concepts are taught thoroughly using simple and easy methods.</p>
        <span class="pt-2 block ml-auto font-amber-800 font-semibold text-right"> <i class="mr-2 fa-solid fa-user-graduate"></i> Primary Student </span>
      </div>
      <div class="min-w-[16rem] h-fit scroll-start scroll-always p-3 bg-amber-200">
        <p>During these tough times when lives are seeing complete paradigm shift, children are going through a major transition and who else to comfort them apart from the parents but their teachers. We sincerely thank the efforts by the teachers to make this unknown difficult journey easier for our kids. We are very happy to have chosen the right institution.</p>
        <span class="pt-2 block ml-auto font-amber-800 font-semibold text-right"> <i class="mr-2 fa-solid fa-user-tie"></i> Father of High Schooler </span>
      </div>
      <div class="min-w-[16rem] h-fit scroll-start scroll-always p-3 bg-amber-200">
        <p>There's real alchemy, the ingredients being the perpetual kindness, the thoughtfulness, the imagination, the fun, the skill and technique, the reassuring blend of modernity and glorious timelessness. The school serves goodwill, simple and traditional values, and joy. I know I am satisfied, but this is nothing but fantastic.</p>
        <span class="pt-2 block ml-auto font-amber-800 font-semibold text-right"> <i class="mr-2 fa-solid fa-user-tie"></i> Parent of Primary Schooler </span>
      </div>
      <div class="min-w-[16rem] h-fit scroll-start scroll-always p-3 bg-amber-200">
        <p>Notre Dame focuses on improving my son’s areas of need and really puts a huge emphasis on bolstering his individual strengths. The teachers are highly educated, thoughtful, and nurturing. They provide rigorous academic challenges, as well as the tools and strategies needed to face those challenges. I am so pleased and full to be a part of the fam.</p>
        <span class="pt-2 block ml-auto font-amber-800 font-semibold text-right"> <i class="mr-2 fa-solid fa-user-tie"></i> Parent of High Schooler </span>
      </div>
      <div class="min-w-[16rem] h-fit scroll-start scroll-always p-3 bg-amber-200">
        <p>It is a little jewel box of a school that is overflowing with love, kindness and a sense of service. My child has improved in a way that he never would have at any other school due to this excellent individualized and warm environment. Thanks for such an environment.</p>
        <span class="pt-2 block ml-auto font-amber-800 font-semibold text-right"> <i class="mr-2 fa-solid fa-user-tie"></i> Parent of Middle Schooler </span>
      </div>
      <div class="min-w-[16rem] h-fit scroll-end scroll-always p-3 bg-amber-200">
        <p>Never thought schools can be so amazing! Studying at Notre Dame has always been fun even in pandemics. We missed school days instead of holidays because teachers are so co-operative and engaging that two years are not enough to assimilate their knowledge.</p>
        <span class="pt-2 block ml-auto font-amber-800 font-semibold text-right"> <i class="mr-2 fa-solid fa-user-graduate"></i> High School Student </span>
      </div>
    </div>
    </div>

    <div class="p-4 mb-4 gap-2 flex justify-center bg-amber-100">
      <div class="relative p-2 text-center">
        <h1 class="font-black"> 2417 </h1> <br>
        <span class="font-['Canela']"> Satisfied Students </span>
      </div>
      <div class="relative p-2 text-center">
        <h1 class="font-black"> 147 </h1> <br>
        <span class="font-['Canela']"> Teaching Staffs </span>
      </div>
      <div class="relative p-2 text-center">
        <h1 class="font-black"> 117 </h1> <br>
        <span class="font-['Canela']"> Non-Teaching Staffs </span>
      </div>
    </div>
  </section>

  <section class="px-4 py-8">
    <h2 class="font-extrabold text-center">
      Management
    </h2>
    
    <p class="max-w-xl mx-auto mt-4 text-left">
      In 1837 <span class="font-bold text-blue-900">Fr.Basil Moreau</span>, the Founder of the Congregation of Holy Cross envisioned <span class="font-semibold">education as a weapon</span> of significance for empowering the young for a better and brighter world and to uplift the falling society of France.
    </p>

    <div class="mt-4 mx-auto w-fit flex flex-col gap-4 sm:flex-row">
      <div class="gap-4">
        <div class="relative w-full h-56">
          <img src="images/mariasuresh.jpg" class="w-full h-full">
        </div>

        <div class="text-center">
          <h4 class="font-bold"> Bro. Maria Suresh CSC. </h2>
          <h5 class="font-md text-slate-800"> Principal </h3>
        </div>
      </div>
      <div class="gap-4">
        <div class="relative w-full h-56">
          <img src="images/nelson.jpg" class="w-full h-full">
        </div>

        <div class="text-center">
          <h4 class="font-bold"> Bro. Nelson D'Souza  CSC. </h2>
          <h5 class="font-md text-slate-800"> Administrator </h3>
        </div>
      </div>
      <div class="gap-4">
        <div class="relative w-full h-56">
          <img src="images/simeos.jpg" class="w-full h-full">
        </div>

        <div class="text-center">
          <h4 class="font-bold"> Bro. Assis Simeos CSC. </h2>
          <h5 class="font-md text-slate-800"> Vice Principal </h3>
        </div>
      </div>
    </div>

  </section>

  <%- include("partials/footer"); %>
  <script src="scripts/index.js"></script>
  <script type="module">
    import { db, getDoc, doc } from "./scripts/firebase.js"
    import loadNews from "./scripts/loadnews.js"

    window.addEventListener("load", () => {
      const admsnEl = document.getElementById("admission")
      const admsnData = JSON.parse(localStorage["admission"] || null)
      const expTime = 24*60*60*1000

      if (admsnData?.expiry > Date.now()) {
        if (!admsnData.ongoing) admsnEl.remove()
      } else getDoc(doc(db, "misc/admission"))
      .then(doc => {
        const data = doc.data()
        localStorage["admission"] = JSON.stringify({expiry: Date.now()+expTime,...data})
        if (!data?.ongoing) admsnEl.classList.add("hidden")
      })
      .catch(e => {
        console.error(e)
        admsnEl.classList.add("hidden")
      })
      
      const newsSpinner = document.getElementById("newsSpinner")
      document.getElementById("reloadNews")
        .addEventListener("click", e => {
          e.target.disabled = true
          newsSpinner.classList.remove("hidden")
          loadNews(true, true)
        })
      
      loadNews(false, false)
    })
  </script>
</body>
</html>