<!DOCTYPE html>
<html lang="en">
<head>
  <title>Notre Dame Salem</title>

  <%- include("partials/head.ejs"); %>
  
  <link rel="stylesheet" href="out.css">
  <script src="https://kit.fontawesome.com/f3339b4404.js" crossorigin="anonymous"></script>
</head>
<body>
  <%- include("partials/loader.ejs"); %>
  <%- include("partials/header.ejs"); %>
  
  <main id="main" class="px-4 py-8 mx-auto w-fit max-w-2xl">
    <div id="spinner"><i class="mr-2 fa-solid fa-spinner animate-spin"></i>Loading Preview...</div>
  </main>

  <%- include("partials/footer.ejs"); %>
  <script src="scripts/index.js"></script>
  <script>
    let params = window.location.href.split("?").length > 1 && Object.fromEntries(window.location.href.split("?")[1].split("&").map(x => [x.split("=")[0], decodeURIComponent(x.split("=")[1])]))
    
    if (params.url) {
      const dl = document.createElement("a")
      dl.href = params.url
      dl.className = "mb-8 text-underline text-sky-600"
      dl.innerHTML = "<i class=\"mr-2 fa-solid fa-arrow-down\"></i>Direct Download Link"
      document.getElementById("main").prepend(dl)
    } else {
      document.getElementById("main").replaceChildren("PDF file not found, come back later.")
    }
    
    params.url && window.addEventListener("load", () => {
      const el = document.createElement("iframe")
      el.id = "preview"
      el.type="application/pdf"
      el.src = "https://docs.google.com/gview?embedded=true&url="+params.url
      el.className = "w-[80vw] max-w-4xl h-[70vh] bg-slate-300"
      el.textContent = "Preview could not be loaded. Try refreshing the browser a couple times."
      document.getElementById("main").append(el)

      el.onload = () => {
        document.getElementById("spinner").remove()
        if (document.getElementById("preview").contentDocument) {
          const el = document.createElement("span")
          el.textContent = "If preview is not available, try refreshing the browser."
          el.className = "text-xs text-slate-500"
          document.getElementById("main").append(el)
        }
      }
    })
  </script>
</body>
</html>